.u-section-1 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 166px 797px 0 12px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 117px 594px 0 105px;
}

.u-section-1 .u-image-1 {
  width: 399px;
  height: 399px;
  background-image: url("images/43952859_2104241532921762_2205950522404372480_n.jpg");
  background-position: 50% 50%;
  margin: -838px 65px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 597px 37px 23px 699px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 609px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 494px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 536px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    width: auto;
    margin-top: 228px;
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 363px;
    height: 363px;
    margin-top: -784px;
    margin-right: 26px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 468px;
    margin-left: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1439px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-right: 209px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 384px;
    margin-right: 99px;
  }

  .u-section-1 .u-image-1 {
    width: 308px;
    height: 308px;
    margin-top: -743px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-3 {
    width: 404px;
    margin: 573px auto 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1544px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: 214px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 456px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -924px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 634px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  text-decoration: underline !important;
  margin: 8px 158px 0 832px;
}

.u-section-2 .u-group-1 {
  width: 491px;
  background-image: none;
  min-height: 491px;
  margin: 72px auto 0 169px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 1px 0 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 32px 37px 0 8px;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-weight: 300;
  width: 404px;
  margin: 118px auto 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 126px;
    margin-left: 664px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 128px;
    margin-left: 442px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 812px;
  }

  .u-section-2 .u-text-1 {
    width: 150px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 68px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 34px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}