.u-section-1 .u-sheet-1 {
  min-height: 663px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  margin: 166px 691px 0 12px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 65px 594px 0 105px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 51px 594px 0 105px;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  width: 344px;
  margin: 74px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 377px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: 377px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 188px;
    margin-right: 283px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    width: 441px;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: 441px;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-right: 70px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 62px;
    margin-right: 14px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: 14px;
    margin-left: 85px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 121px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 208px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }
}