.u-section-1 {
  background-image: url("images/143-ai2.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 934px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 166px 691px 0 12px;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 65px 594px 0 105px;
}

.u-section-1 .u-text-3 {
  font-weight: 300;
  width: 344px;
  margin: 353px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 503px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-right: 377px;
    margin-left: 122px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 220px;
    margin-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 100% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 194px;
    margin-right: 283px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.375rem;
    width: 441px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 208px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 65.84% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 170px;
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 208px;
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 76px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 47px;
  }
}